<div class="login-container">
  <div class="login-card">
    
    <div class="logo">
      <img src="icon..png" alt="logo" class="logo-icon">
      <h2>RECRUTE</h2>
    </div>

    <div class="tabs">

  <button 
    class="tab" 
    [class.active]="activeTab === 'entreprise'" 
    (click)="setTab('entreprise')">
    
    Entreprise
  </button>

  <button 
    class="tab" 
    [class.active]="activeTab === 'candidat'" 
    (click)="setTab('candidat')">
    Candidat
  </button>
</div>

@if (activeTab === 'entreprise') {
 <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <label>Nom de l'entreprise</label>
      <input type="text" placeholder="Nom de l'entreprise" formControlName="name" />

      <label>Email professionnel</label>
      <input type="email" placeholder="contact@entreprise.fr" formControlName="email" />

      <label>Mot de passe</label>
      <input type="password" placeholder="••••••••" formControlName="password" />

      <label>Confirmer le mot de passe</label>
      <input type="password" placeholder="••••••••" formControlName="passwordConfirm" />
      
      <button class="login-btn" type="submit">
        S'enregistrer →
      </button>
      
      <div class="forgot">
        <a href="#">Mot de passe oublié ?</a>
      </div>

    </form>
}

@if (activeTab === 'candidat') {
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <label>Nom</label>
      <input type="text" placeholder="Votre nom" formControlName="name" />

      <label>Prenom</label>
      <input type="text" placeholder="Votre prenom" formControlName="lastname" />

      <label>Email professionnel</label>
      <input type="email" placeholder="contact@entreprise.fr" formControlName="email" />

      <label>Mot de passe</label>
      <input type="password" placeholder="••••••••" formControlName="password" />

      <label>Confirmer le mot de passe</label>
      <input type="password" placeholder="••••••••" formControlName="passwordConfirm" />
      
      <button class="login-btn" type="submit">
        S'enregistrer →
      </button>
      
      <div class="forgot">
        <a href="#">Mot de passe oublié ?</a>
      </div>

    </form>
}

  </div>
</div>