.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(90deg, #2c3e50, #4ca1af);
  color: rgb(240, 234, 234);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.login-btn {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid white;
  background: linear-gradient(90deg, #38bdf8, #2563eb);
  color: white;
  cursor: pointer;
}
